body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 70px;
	padding-bottom: 30px;
}

.jumbotron {
	text-align: center;
}

.jumbotron > h1 {
	font-size: 55px;
	letter-spacing: -0.05em;
	font-weight: 700;
	margin-bottom: 15px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.alert > h2 {
	margin-top: 0px;
	font-size: 20px;
	font-weight: bold;
}

.alert > .issue-state {
	float: right;
}

.alert .issue-updated {
}

.services .service-status {
	float: right;
}

/* admin section stuff down here */

div.service-checkbox-list {
	padding-left: 10px;
	padding-top: 5px;
}

.incident-ok {
	background-image: -webkit-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
	background-image: -o-linear-gradient(top, #dff0d8 0, #c8e5bc 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
	background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
	background-repeat: repeat-x;
	border-color: #b2dba1;
}

.incident-degraded {
	background-image: -webkit-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -o-linear-gradient(top, #fcf8e3 0, #f8efc0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
	background-image: linear-gradient(to bottom, #fcf8e3 0, #f8efc0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
	background-repeat: repeat-x;
	border-color: #f5e79e;
}

.incident-minor {
	background-image: -webkit-linear-gradient(top, #FFEBCC 0, #FFE0B2 100%);
	background-image: -o-linear-gradient(top, #FFEBCC 0, #FFE0B2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFEBCC), to(#FFE0B2));
	background-image: linear-gradient(to bottom, #FFEBCC 0, #FFE0B2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBCC', endColorstr='#FFE0B2', GradientType=0);
	background-repeat: repeat-x;
	border-color: #FFC266;
}

.incident-major {
	background-image: -webkit-linear-gradient(top, #f2dede 0, #e7c3c3 100%);
	background-image: -o-linear-gradient(top, #f2dede 0, #e7c3c3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
	background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
	background-repeat: repeat-x;
	border-color: #dca7a7;
}

.incident-maintenance {
	background-image: -webkit-linear-gradient(top, #d9edf7 0, #b9def0 100%);
	background-image: -o-linear-gradient(top, #d9edf7 0, #b9def0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
	background-image: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
	background-repeat: repeat-x;
	border-color: #9acfea;
}